body {
    background-color: sienna;
}
label {
    font-size: 18px;
    padding: 5px;
}
#searchForm {
    border-width: 2px;
    border-color: grey;
    border-style: solid;
    padding: 10px;
    margin-top: 50px;
    border-radius: 6px;
}